.button {
    background: #009fff;
    border: 1px solid transparent;
    border: .1rem solid transparent;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    fill: #fff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 50px;
    margin: 0;
    min-width: 100px;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.buttonWrapper {
  display: flex;
}

.buttonWrapper .Button + .Button {
  margin-left: 2rem;
}
